$white: #fafaf9;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*,*::after,*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
li {
    list-style: none;
}
svg {
    max-width: 200px;
    max-height: 200px;
}
body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    overflow: hidden;
    color: $white;
    font-size: 22px;
    z-index: -2;
}
body.night{
    background-image: url('../assets/clean-night.jpg');
    
}
body.day{
    background-image: url('../assets/clean-day.jpg');
    

}
body.rainy-night {
    background-image: url('../assets/rainy-night.jpg');
    
}
body.rainy-day {
    background-image: url('../assets/rainy-day.jpg');
    
}
body::before {
    content: "";
    position: absolute;
    height: 100vmax;
    width: 100vmax;
    backdrop-filter: brightness(0.8) blur(4px);
    top: 0%;
    z-index: -1;
}
#app {
    max-width: 1460px;
    margin: 14px auto;
}

.card {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(30px);  /* This will produce the blur */
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);
    padding: 14px;
    overflow: hidden;
}

.info-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 80px;
    .place-info {
        display: flex;
        width: 50%;
        flex-direction: column;
        #place-date {
            font-size: 1rem;
        }
    }

}
.show-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 28px;
    .place-info {
        display: flex;
        align-items: center;
        gap: 128px;
        .weather {
            padding-left: 14px;
            font-size: 2rem;
            min-width: 110px;
            text-align: center;
            font-weight: 600;
            display: flex;
            flex-direction: column;
            gap: 40px;
            .note {
                font-weight: 300;
            }
            .icon {
                font-size: 100px;
            }
            .main-weather-img {
                max-width: 180px;
                max-height: 180px;
                margin: auto;
            }
            &::after {
                content: '';
                position: absolute;
                width: 1px;
                height: 80%;
                left: 56%;
                top: 50%;
                transform: translate(-50%, -50%);
                background-color: $white;
            }
        }
        .details {
            div {
                display: flex;
                margin-bottom: 12px;
                .text {
                    display: flex;
                    flex-direction: column;
                    margin-left: 16px;
                    gap: 10px;
                }
            }
            .icon {
                width: 28px;
                display: inline;
            }
        }
    }
    .search {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        .search-bar {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }
        input[type=  'text'] {
            background-color: rgba(255,255,255,.4);
            border: rgba(255,255,255,.5) 1px solid;
            width: 60%;
            padding: 14px;
            color: inherit;
            text-transform: uppercase;
            outline: none;
            margin-right: -20px;    
            border-radius: 8px;
        }
        ::-moz-placeholder {
            color: white;
        }
        
        :-ms-input-placeholder {
            color: white;
        }
        
        ::-webkit-input-placeholder {
            color: white;
        }
        
        ::placeholder {
            color: white;
        }
        .icon{
            cursor: pointer;
            transform: translateX(-14px);
        }
        .search-place {
            width: 60%;
            h2 {
                margin-block: 14px;
                font-size: 1.2rem;
            }
            ul {
                width: 100%;
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 16px;
                li {
                    width: 100%;
                    cursor: pointer;
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }
}
.coming-weather {
    position: absolute;
    bottom: 0%;
    .choice {
        display: flex;
        gap: 20px;
        span {
            cursor: pointer;
            padding: 4px 14px ;
        }
        .active {
            border: 2px solid $white;
        }
    }
    ul {
        display: flex;
        justify-content: space-between;
        width: 1310px;
        margin-top: 26px;
        margin-bottom: 32px;
        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            letter-spacing: 1.1px;
            gap: 8px;
        }
        svg {
            max-width: 60px;
            max-height: 60px;
        }
    }
}